<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Number</key>
        <array>
            <integer>1</integer>
            <integer>2</integer>
            <integer>3</integer>
            <integer>4</integer>
            <integer>5</integer>
            <integer>6</integer>
            <integer>7</integer>
            <integer>8</integer>
            <integer>9</integer>
        </array>
        <key>LinkNames</key>
        <array>
            <string>Adrian Aguirre</string>
            <string>Jeff Ambrose</string>
            <string>Amy Ahart</string>
            <string>Tom Costello</string>
            <string>Patricia Barnes</string>
            <string>Sandra Connelly</string>
            <string>Kelechi Ajunwa</string>
            <string>Vito Gulla</string>
            <string>Stephen Smith</string>
        </array>
        <key>LinkSubtitles</key>
        <array>
            <string>Adjunct Instructor</string>
            <string>Adjunct Instructor</string>
            <string>Adjunct Instructor</string>
            <string>Adjunct Professor</string>
            <string>Associate Professor</string>
            <string>Assistant Professor</string>
            <string>Assistant Professor</string>
            <string>Adjunct Instructor</string>
            <string>Assistant Professor</string>
        </array>
        <key>LinkUrl</key>
        <array>
            <string>http://www.dccc.edu/about-us/meet-our-faculty/adrian-aguirre</string>
            <string>http://www.dccc.edu/about-us/meet-our-faculty/jeff-ambrose</string>
            <string>http://www.dccc.edu/about-us/meet-our-faculty/amy-ahart</string>
            <string>http://www.dccc.edu/about-us/meet-our-faculty/tom-costello</string>
            <string>http://www.dccc.edu/about-us/meet-our-faculty/patricia-barnes</string>
            <string>http://www.dccc.edu/about-us/meet-our-faculty/sandra-connelly</string>
            <string>http://www.dccc.edu/about-us/meet-our-faculty/kelechi-ajunwa</string>
            <string>http://www.dccc.edu/about-us/meet-our-faculty/vito-gulla</string>
            <string>http://www.dccc.edu/about-us/meet-our-faculty/stephen-smith</string>

        </array>
        <key>ImageIcons</key>
        <array>
            <string>Gas_30.png</string>
            <string>Gas_30.png</string>
            <string>Gas_30.png</string>
            <string>Gas_30.png</string>
            <string>Gas_30.png</string>
            <string>Gas_30.png</string>
            <string>Gas_30.png</string>
            <string>Gas_30.png</string>
            <string>Gas_30.png</string>

        </array>
    </dict>
</plist>

